/* #레이아웃 */
#nav { background-color: #f6fdff;}
#title{background-color: #eaf7fd;}
#contents .container{
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
}
#cont_left {float: left;   width: 250px; }
#cont_center {
    overflow:hidden; 
    margin-right: 250px; 
    min-height: 1300px;
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
}
#cont_right {
    position: absolute; 
    top:0; right: 0; 
    width: 250px; 
}
#footer {border-top:1px solid #dbdbdb;}

/* 컨테이너 */
.container {position:relative; width: 1200px; margin: 0 auto;}


/* top_menu */
.top_menu{display: none;  text-align: left; padding: 0 40px; border-bottom: 1px solid #dbdbdb;}
.top_menu a{color: #999; font-size: 20px; font-weight: bold; padding: 8px 0 6px 10px; display: inline-block; transition: color 0.3s ease;}
.top_menu a:hover {color: #ccc;}

/* info */
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5.5em 0;
}

/* 1. info_left */

.info_left {width: auto; text-align: center;}

/* profile img */
.info_left .info_img {
    position: relative;
    width: 120px;
    height: 120px;
    background-image: url(../img/info.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
}

.info_left .info_img::after {
    content: '';
    position: absolute;
    left: 50%; top: 50%;
    width: 95%;
    height: 95%;
    border:4px solid #ffa31b;
    border-radius: 50%;
    transform: translateX(-50%)translateY(-50%);
}


/* using program icon*/
.info_left .prog_icon {text-align: center; }
.info_left .prog_icon_1 {margin-top: 35px; padding-bottom: 15px; }

.info_left .prog_icon ul li{display: inline-block;}
.info_left .prog_icon ul li a {
    position: relative; 
    background-color: #ffa31b;
    border-radius: 50%; 
    width: 45px; height: 45px; 
    color: #fff; 
    display: inline-block; 
    font-size: 22px; line-height: 50px; 
    transition: all 0.3s ease;
    margin: 2px;
}
.info_left .prog_icon_2 ul li a {line-height: 40px;}
.info_left .prog_icon_2 ul li a em {font-size: 14px; font-weight: bold;}

/* 호버시 boxshdow 효과 */
.info_left .prog_icon ul li a:hover {box-shadow: 0 0 0 3px #ffa31b inset , 0 0 0 100px rgba(153, 153, 153, 0.5) inset;}


/* 호버시 나타나는 메뉴이름 */
.info_left .prog_icon_1 ul li a span {display: inline-block; width:150%; opacity:0; position: absolute; font-size: 13px; top: -33px; left:50%; transform: translateX(-50%); background-color: #ffa31b; padding:1px 5px; border-radius:5px; line-height: 1.6; transition: opacity,top 0.3s ease;}
.info_left .prog_icon_2 ul li a span {display: inline-block; width:150%; opacity:0; position: absolute; font-size: 13px; bottom:-40px; left:50%; transform: translateX(-50%); background-color: #ffa31b; padding:1px 5px; border-radius:5px; line-height: 1.6; transition: opacity,bottom 0.3s ease;}


/* 말풍선박스 세모 */
.info_left .prog_icon_1 ul li a span::before {content: '';  position:absolute; left: 50%; transform: translateX(-50%); bottom: -5px;
    border-top: 5px solid  #ffa31b;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    /* border-bottom: 5px solid black; */
}

.info_left .prog_icon_2 ul li a span::before {
    content: '';  
    position:absolute; left: 50%; top: -5px;
    transform: translateX(-50%); 
    /* border-top: 5px solid  #ffa31b; */
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ffa31b;
}

.info_left .prog_icon_1 ul li a:hover span {opacity: 1; top:-30px;}
.info_left .prog_icon_2 ul li a:hover span {opacity: 1; bottom: -30px;}

/* 2. info_right */
.info_right {
    width: auto;
    margin-left: 80px;
    font-size: 13px;
    color: #999;
    font-weight: bold;
}

.info_right > .info_name {
    font-size: 24px;
    color: #222;
    font-weight: bold;
}

.info_right .status {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    color: #ffa31b;
    font-size: 15px;
}

.info_right .status:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color:#ffa31b;
    border-radius: 50%;
    top: 7px;
    left: 0px;
}


.info_right .category {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    margin-left: 10px;
}

.info_right .category::before {
    content: '';
    height: 16px;
    width: 1px;
    background-color: #e1e1e1;
    position: absolute;
    left: 0;
    top: 4px;
}

.info_right > .info_cont_0 {
    display: flex;
    align-items: center;
}

.info_right .age {
    color: #999;
}

.info_right .age:after {
    background-color:#999;
}


/* ------------------ 2. #nav 전체메뉴 ---------------------- */

.nav {padding: 25px 15px; display: none;}

.nav > div {float: left; width: 40%;}
.nav > div:last-child {width: 20%;}

.nav > div ol li {float: left; width: 50%; position: relative; padding-left: 8px; box-sizing: border-box; }
.nav > div:last-child ol li {width: 100%;}

/* 머릿말기호 */
.nav > div ol li::before {content: ''; width: 3px; height: 3px; border-radius: 50%; background-color: #25a2d0; position: absolute; top:6px; left: 0;}

/* 호버 시 메뉴 li a 효과 */
.nav > div ol li a {position: relative;}
.nav > div ol li a::after {content: ''; display: inline-block; width: 0; height: 1px; background-color: #25a2d0; position: absolute; bottom: 0; left: 0; transition: all .2s ease-out;}

.nav > div ol li:hover a::after {width: 100%;}
.nav > div h3 {font-size: 18px; color: #25a2d0; font-weight: bold; margin-bottom: 4px;}


/* ------------------ 3. #title 서브타이틀 ---------------------- */

.title {text-align: center; position: relative;}
.title h2 {color: #0093bd; font-family: 'Nanum Brush Script', cursive; font-size: 39px; padding: 5px 0;}
.title .btn {
    position:absolute; 
    right: 0; 
    top: 5px;
    width: 60px; 
    height: 60px; 
    line-height: 60px; 
    font-size: 35px; 
    border-radius: 50%; 
    transition: all 0.3s ease;
    background-color: #3192df;
    color: #fff;
}

.title .btn:hover{
    box-shadow: 0 0 0 3px rgba(71,154,191,0.9) inset
    , 0 0 0 100px rgba(0,0,0,0.1) inset;
}

/* ------------------ 4. #main 컨텐츠 ---------------------- */

/* column_common */

.column {padding: 15px; border-bottom:1px solid #dbdbdb; }
.column .col_tit {font-size: 20px; color:#2f7fa6; padding-bottom: 5px;}
.column .col_desc {
    padding-bottom: 15px; 
    margin-bottom: 15px; 
    border-bottom: 1px dashed #dbdbdb;
    line-height: 18px;
}
.column.col3 {border-bottom: 0;}
.column.col6 {border-bottom: 0;}
.column.col9 {border-bottom: 0;}

/* col1_메뉴작업 */

.menu ul li{position: relative;}

.menu ul li a{font-size: 16px; 
    text-transform: uppercase;
    color: #878787;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
    display: block;
    transition: box-shadow 0.34s ease, background-color 0.34s ease;
}
.menu ul li a:hover {
    color:#fff;
    box-shadow: inset 190px 0 0 0 rgba(36,130,174,0.7);
    background-color: rgba(36,130,174,0.9);
}
.menu ul li a i{position:absolute; top:13px; right: 10px;}

/* col2_게시판1 */
.notice1 {position: relative;}
.notice1 h5 {font-size: 14px; color: #2f7fa6; padding-bottom: 10px;}
.notice1 li {text-indent: 12px; position: relative; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice1 li::before {
    content: '';
    width: 3px; height: 3px;
    border-radius: 50%;
    background-color: #449ce2;
    position: absolute; left: 0; top: 6px;
}


/* col2_게시판2 */
.notice2 {position: relative;}
.notice2 h5 {font-size: 14px; color: #2f7fa6; padding-bottom: 5px;}
.notice2 li {
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* 몇줄로 할 지 지정할 수 있음 */
    -webkit-line-clamp: 2;
    padding-left: 12px;
    max-height: 40px; /* ie 호환 위해서 넣음 */
}

.notice2 li::before {
    content: ''; 
    position: absolute; 
    left: 0; top:5px; 
    width: 3px; height: 3px; 
    background:#2f7fa6;
}

/* 게시판1,2 more */

.notice .more {
    position: absolute;
    top:3px; right: 0;
    color:#878787;
    text-transform: uppercase; 
    font-size: 10px;
}

.notice .more i {
    margin-left: 2px;
}

/* 블로그1_ 고화질이미지 figure*/

.blog1 .img-retina {display: none;}
.blog2 .img-retina {width: 100%;}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (min-device-pixel-ratio: 1.5),
        only screen and (min-resolution: 1.5dppx) {
        .blog1 .img-retina {display: initial;}
        .blog1 .img-normal {display: none;}
}

/* 블로그2_ 고화질이미지 background */

.blog2 h5 {color: #fff; text-align: center; padding: 30px 30px; 
    text-transform: uppercase;
}

.blog2 .img-retina {
    background: url(../img/blog4_@1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 2dppx) {
        .blog2 .img-retina {background: url(../img/blog4_@2.jpg); 
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
        }
}

/* x3 일 때 */
@media only screen and (-webkit-min-device-pixel-ratio: 3),
        only screen and (min-device-pixel-ratio: 3),
        only screen and (min-resolution: 3dppx) {
        .blog2 .img-retina {background: url(../img/blog4_@3.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
        }
}

/* col4 _ 이미지 슬라이드 Slider */
.slider figure {position: relative;}
.slider figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
    font-size: 18px;
    color: #fff;
}

.slider figcaption em {
    display: block;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    /* 애니메이션 효과 */
    opacity: 0;
    transition: all .84s ease;
    transform: translateX(50px);
}

.slider figcaption span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* 애니메이션 효과 */
    opacity: 0;
    transition: all .84s ease;
    transform: translateX(50px);
}

/* 애니메이션 효과 */
.slider .slick-active figcaption em {opacity: 1; transform: translateX(0);}
.slider .slick-active figcaption span {opacity: 1; transform: translateX(0);}

.slider .slick-dots {display: block; width: 100%; text-align: center;}
.slider .slick-dots li {display: inline-block; width: 15px; height: 15px; margin: 15px;}
.slider .slick-dots li button{
    font-size: 0;
    line-height: 0;
    display: block; width: 15px; height: 15px;
    cursor: pointer;
    background-color: #5dbfeb;
    border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
    background: #2b92c8;
}

.slider .slick-arrow {
    position: absolute; 
    cursor: pointer; display: 
    inline-block; bottom: 5px; 
    z-index: 1000; 
    width: 30px; height: 30px;
    text-indent: -9999px;
    /* font 속성: font-style font-variant font-weight font-size/line-height font-family */
    font: normal normal normal 14px/1 FontAwesome;
}
.slider .slick-prev {left: 0;}
.slider .slick-next {right: 0;}

.slider .slick-prev::before {
    content:"\f053";
    color: #5dbfeb;
    text-indent: 0;
    position: absolute; left: 9px; top: 8px;
    /* font-family:FontAwesome; */
}

.slider .slick-next::before { 
    content:"\f054";
    color: #5dbfeb;
    text-indent: 0;
    position: absolute; left: 11px; top: 8px;
    /* font-family:FontAwesome; */
}


/* 플러그인 라이트박스 */

.square a {
    position: relative;
    overflow: hidden;
    float: left;
    width: 19%;
    margin: 0.5%;
}

.square a img {
    width: 100%;
    display: block;
}

.square a em {
    background-color: rgba(0,0,0,0.77);
    color: #fff;
    width: 100%; text-align: center;
    position: absolute; bottom: -360px; left: 0;
    opacity: 1; transition: all .3s ease;
}

.square a:hover em {bottom: 0; background: rgba(0,0,0,0.57);}

.square a:nth-child(1):hover img {filter: blur(2px);}
.square a:nth-child(2):hover img {filter:brightness(20%);}
.square a:nth-child(3):hover img {filter: contrast(10%);}
.square a:nth-child(4):hover img {filter: grayscale(100%);}
.square a:nth-child(5):hover img {filter: hue-rotate(120deg);}
.square a:nth-child(6):hover img {filter: invert(100%);}
.square a:nth-child(7):hover img {filter: opacity(10%);}
.square a:nth-child(8):hover img {filter: saturate(10%);}
.square a:nth-child(9):hover img {filter: sepia(120%);}
.square a:nth-child(10):hover img {filter: sepia(120%) hue-rotate(120deg);}


/* col7 사이드 이펙트1 */
.side1 {position: relative; perspective: 1000px; display: block;}

.side1 .front {
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
}

.side1:hover .front{
    transform: rotateY(180deg);
}

.side1 .back {
    position: absolute; top:0; left: 0;
    width: 100%; height: 100%; z-index: -1;
    transform-style: preserve-3d;
    color: #fff;
    background: #4038dc;
    transform: rotateY(-180deg);
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
}

.side1:hover .back{
    transform: rotateY(0deg);
    z-index: 1;
}

.side1 .back i {position: absolute; top: 50%; left: 50%; transform: translateX(-50%)translateY(-50%);
font-size: 60px;
}

/* col8 사이드 이펙트2 */
.side2 {position: relative; display: block; perspective:  600px;}
.side2 .front {
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
}
.side2 .back {
    position: absolute; top:0; left: 0; z-index: -1;
    transform-style: preserve-3d;
    transform: rotateY(-180deg);
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
}

.side2:hover .front {transform: rotateY(180deg);}
.side2:hover .back {transform: rotateY(0deg); z-index: 1;}

.side2 figcaption {width: 60%;}
.side2 figcaption {
    color: #fff; 
    font-size: 20px; font-family: 'Abel';
    font-weight: bold;
    background: rgba(0,0,0,0.4);
    padding: 3px 10px;
}

.side2 .front figcaption {
    position: absolute; top:50%; left: 50%;
    transform: translate(-50%,-50%) translateZ(100px);
    display: block;
    text-align: center;
}
.side2 .back figcaption {
    position: absolute; top:50%; left: 50%;
    transform: translate(-50%,-50%) translateZ(100px);
    display: block;
    text-align: center;
}


/* 사이드 이펙트3 */
.side3 {position: relative; overflow: hidden; background: #fff;}
.side3 figcaption {
    position: absolute; left: 50%; top: 50%;
    color: #fff; text-align: center;
    opacity: 1;
    text-transform: uppercase;
    transition: all 0.3s ease;
    transform: translate(-50%, 380%) rotate(180deg);
}
.side3 figcaption:after {
    content: '';
    width: 100px; height: 100px;
    background: #000; border-radius: 50%;
    position: absolute; left: 50%; top: 50%; z-index: -1;
    transform: translate(-50%, -50%);
}
.side3 figcaption h3 {font-size: 16px; color: #fff;}
.side3 figcaption em {display: block; font-weight: bold;}
.side3 img {display: block; transition: all 0.3s ease;}

.side3:hover img {opacity: 0.4;}
.side3:hover figcaption {
    transform: translate(-50%, -50%) rotate(0deg); opacity: 1;}

/* ------------------ 5. #footer ---------------------- */

.footer {text-align: center; padding: 30px 50px;}
.footer li {position: relative; display: inline-block; padding: 0 7px 0 10px; white-space: nowrap;}
.footer li:first-child::before {width: 0;;}
.footer li::before {
    content: ''; 
    width: 1px; height: 12px; 
    background: #ddd; 
    position: absolute; left: 0; top:2px;
}

.footer address {padding: 15px;}


/* ------------------  media-query 미디어쿼리 ---------------------- */

/* 화면너비 0 ~ 1220px */
@media (max-width:1220px){
    .container{width: 100%;}
    .title .btn {right: 5px;}

    #contents .container{
        border-right: 0px solid #dbdbdb;
        border-left: 0px solid #dbdbdb;
    }

    .square a {width: 24%;}
    .square a:nth-child(5n) {display: none;}


    /* ------------------ */
}

/* 화면너비 0 ~ 1024px */
@media (max-width:1024px){

    .square a {width: 32.333%;}
    .square a:nth-child(5) {display: block;}
    
}

/* 화면너비 0 ~ 960px */
@media (max-width:960px){
    .nav > div {
        float: none;
        width: 100%;
    }
    .nav > div:last-child {width: 100%;}

    .nav > div li {width: 33.333%;}
    .nav > div:last-child li{width: 33.333%;}

    .nav > div ol {margin-bottom: 10px;}
    
    #cont_center {
        margin-right: 0px;
        border-right: 0;
    }

    #cont_right {
    position: static;
    width: 100%;
    border-top:1px solid #dbdbdb;

    }

    /* #cont_right {overflow: hidden;} clearfix 대신에 이걸 써도됨*/
    /* #cont_right {overflow: hidden;} */
    #cont_right .column {float: left; width: 33.333%; box-sizing: border-box;}
    #cont_right .column.col7 {border-right: 1px solid #dbdbdb; border-bottom:0 ;} 
    #cont_right .column.col8 {border-right: 1px solid #dbdbdb; border-bottom:0 ;} 
}

/* 화면너비 0 ~ 768px */
@media (max-width:768px){

    #cont_left {
        float: none;  
        width: 100%;
        border-bottom: 1px solid #dbdbdb;
    }

    #cont_center {
        min-height: auto;
    }
    
}

/* 화면너비 0 ~ 600px */
@media (max-width:600px){
    .info {flex-wrap: wrap;}
    .info .info_left {width: 100%; margin-bottom: 35px;}
    .info .info_right {width: 50%; margin:0 auto; text-align: center;}
    
    .info_right .category {display: block;}

    .info_right > .info_cont_0 {flex-wrap: wrap;}
    .info_right > .info_cont_0 .age {width: 100%;}
    .info_right > .info_cont_0 .category {width: 100%;}

    .info_right .status {
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        margin-top: 15px;
    }

    .info_right .category {
        padding-left: 0px;
        margin-left: 0px;
    }

    .info_right .status:after {display: none;}
    .info_right .category::before {display: none;}


    /* ----------------------- */
    .header{height: auto;}
    .header_tit {display: none;}
    .header_icon {display: none;}
    .title .btn {display: none;}

    .nav > div li {width: 50%;}
    .nav > div:last-child li{width: 50%;}

    .column.col1 {padding: 0; border-bottom: 0; }
    .column.col1 .col_tit {display: none;}
    .column.col1 .col_desc {display: none;}

    .column.col1 .menu li{float: left; border-right:1px solid #dbdbdb; box-sizing: border-box; width:33.333%; text-align: center;}
    .column.col1 .menu li:nth-child(3n) {border-right: 0;}
    .column.col1 .menu li a{color: #fff; text-shadow: 0 0 5px rgba(0,0,0,0.7);}
    .column.col1 .menu li a:hover{text-shadow: 0 0 5px rgba(0,0,0,0.7);}
    .column.col1 .menu li a i {box-shadow: none; background: rgba(36,130,174,0.3);}
    .column.col2 {background-color: #fff;}
    
    .square a {width: 49%;}
    .square a:nth-child(5) {display: none;}

    #cont_right .column {width: 50%;}
    #cont_right .column.col8 {border-right: 0;} 
    #cont_right .column.col9 {display: none;}
}


/* 화면너비 0 ~ 480px */
@media (max-width:480px){
    .info .info_right {width: 100%; }
    
}

/* 화면너비 0 ~ 320px */
@media (max-width:320px){

    .info_right .status {
        font-size: 16px;
    }

    .info .info_right {
        width: 100%;
    }
    .info_right .category {
        font-size: 12px;
        
    }

    /* --------------------- */

    .square a {width: 100%; margin-right: 0; margin-left: 0;}

    #cont_right .column {width: 100%;}
    #cont_right .column.col7 {border-right: 0; border-bottom: 1px solid #dbdbdb;} 
    
    
}

