/* #레이아웃 */
#title{background-color: #eaf7fd;}
#contents .container{
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
}
#cont_left {float: left;   width: 250px; }
#cont_center {
    overflow:hidden; 
    margin-right: 250px; 
    min-height: 1300px;
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
}
#cont_right {
    position: absolute; 
    top:0; right: 0; 
    width: 250px; 
}
#footer {border-top:1px solid #dbdbdb;}

/* 컨테이너 */
.container {position:relative; width: 1200px; margin: 0 auto;}
html.no-scroll {overflow-y: hidden;}


/* ------------- 1. #nav ------------- */

/* top_menu */
.top_nav{display: none;  text-align: left; padding: 0 40px; border-bottom: 1px solid #dbdbdb;}
.top_nav a{color: #999; font-size: 14px; font-weight: bold; padding: 8px 0 6px 10px; display: inline-block; transition: color 0.3s ease;}
.top_nav a:hover {color: #ccc;}

/* ------------- 2. #profile ------------- */

/* info */
.info {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5.5em 0;
}

/* 1. info_left */

.info_left {width: 30%; text-align: center;}

/* profile img */
.info_left .info_img {
    position: relative;
    width: 120px;
    height: 120px;
    background-image: url(../img/info.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
}

.info_left .info_img::after {
    content: '';
    position: absolute;
    left: 50%; top: 50%;
    width: 95%;
    height: 95%;
    border:4px solid #ffa31b;
    border-radius: 50%;
    transform: translateX(-50%)translateY(-50%);
}


/* using program icon*/
.info_left .prog_icon {text-align: center; }
.info_left .prog_icon_1 {margin-top: 35px; padding-bottom: 15px; }

.info_left .prog_icon ul li{display: inline-block;}
.info_left .prog_icon ul li a {
    position: relative; 
    background-color: #ffa31b;
    border-radius: 50%; 
    width: 45px; height: 45px; 
    color: #fff; 
    display: inline-block; 
    font-size: 22px; line-height: 50px; 
    transition: all 0.3s ease;
    margin: 2px;
}
.info_left .prog_icon_2 ul li a {line-height: 40px;}
.info_left .prog_icon_2 ul li a em {font-size: 14px; font-weight: bold;}

/* 호버시 boxshdow 효과 */
.info_left .prog_icon ul li a:hover {box-shadow: 0 0 0 3px #ffa31b inset , 0 0 0 100px rgba(153, 153, 153, 0.5) inset;}


/* 호버시 나타나는 메뉴이름 */
.info_left .prog_icon_1 ul li a span {display: inline-block; width:150%; opacity:0; position: absolute; font-size: 13px; top: -33px; left:50%; transform: translateX(-50%); background-color: #ffa31b; padding:1px 5px; border-radius:5px; line-height: 1.6; transition: opacity,top 0.3s ease;}
.info_left .prog_icon_2 ul li a span {display: inline-block; width:150%; opacity:0; position: absolute; font-size: 13px; bottom:-40px; left:50%; transform: translateX(-50%); background-color: #ffa31b; padding:1px 5px; border-radius:5px; line-height: 1.6; transition: opacity,bottom 0.3s ease;}


/* 말풍선박스 세모 */
.info_left .prog_icon_1 ul li a span::before {content: '';  position:absolute; left: 50%; transform: translateX(-50%); bottom: -5px;
    border-top: 5px solid  #ffa31b;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    /* border-bottom: 5px solid black; */
}

.info_left .prog_icon_2 ul li a span::before {
    content: '';  
    position:absolute; left: 50%; top: -5px;
    transform: translateX(-50%); 
    /* border-top: 5px solid  #ffa31b; */
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ffa31b;
}

.info_left .prog_icon_1 ul li a:hover span {opacity: 1; top:-30px;}
.info_left .prog_icon_2 ul li a:hover span {opacity: 1; bottom: -30px;}

/* 2. info_right */
.info_right {
    width: 45%;
    font-size: 13px;
    color: #999;
    font-weight: bold;
}

.info_right > .info_name {
    font-size: 24px;
    color: #222;
    font-weight: bold;
}

.info_right .status {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    color: #ffa31b;
    font-size: 15px;
}

.info_right .status:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color:#ffa31b;
    border-radius: 50%;
    top: 7px;
    left: 0px;
}


.info_right .category {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    margin-left: 10px;
}

.info_right .category::before {
    content: '';
    height: 16px;
    width: 1px;
    background-color: #e1e1e1;
    position: absolute;
    left: 0;
    top: 4px;
}

.info_right > .info_cont_0 {
    display: flex;
    align-items: center;
}

.info_right .age {
    color: #999;
}

.info_right .age:after {
    background-color:#999;
}

.info_right_1 {width: 25%;}
.info_right_1 ul li {display: inline-block;}
.info_right_1 ul li a{
    padding: 10px;
    display: block;
}

.info_right_1 ul li a img svg{color: #ea5220;}

/* ------------- 3. #header ------------- */

.tab_menu {width: 100%;}
.tab_menu .menu_box {border-top:1px solid #f5f6f8; border-bottom:1px solid #f5f6f8;}

.tab_menu ul.top {max-width: 1200px; margin: 0 auto;}
.tab_menu ul.top li {width: 25%; text-align: center;}
.tab_menu ul.top li a {
    position: relative;
    display:block; 
    padding: 20px 0;
    font-size: 1.2em;
    font-weight: bold;
    transition: all .55s ease;
}

.tab_menu ul.top li.active a {
    color: #ffa31b;
}


.tab_menu ul.top li.active a::after {
    background: #ffa31b;
    opacity: 1;
}


.tab_menu ul.top li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%; height: 2px;
    background: #ffa31b;
    opacity: 0;
    transition: all 0.3s;
}

.tab_menu ul.top li a:hover::after {
    opacity: 1;
}

.tab_menu .tab_box > div {display: none;}
.tab_menu .tab_box > div.active {display: block;}

/* tab_cont_2 works */

.work_tab_list li {
    display: inline-block;
    text-align: center;
    
}

.work_tab_list li a {
    display: block; 
    width: 80px;
    line-height: 2.5em;
    border-radius: 3px; 
    background: #f5f6f8;
    margin: 0 3px;
    color: #212428;
    font-weight: bold;
    transition: all .35s ease;
}


.work_tab_list li.active a {
    background: #ffa31b;
    color: #fff;
    font-weight: bold;
}

.work_tab_list li:hover a {
    box-shadow: inset -4em 0 0 0 #ffa31b , inset 4em 0 0 0 #ffa31b;
    color: #fff;
}

.work_tab_cont > div {display: none;}
.work_tab_cont > div.active {display: block;}


/* 플러그인 라이트박스 */

.square a {
    position: relative;
    overflow: hidden;
    float: left;
    width: calc(98% / 3);
    margin-right: 1%;
    margin-bottom: 40px;
    display: block;
    border-radius: 7px;
    box-sizing: border-box;
    border:1px solid #e1e1e1;
}

.square a:nth-child(3n) {margin-right: 0;}

.square a img {
    width: 100%;
    display: block;
    border-radius: 6px;
}

.square a em {
    background-color: rgba(0,0,0,0.77);
    color: #fff;
    width: 100%; text-align: center;
    position: absolute; bottom: -360px; left: 0;
    opacity: 1; transition: all .3s ease;
    border-radius: 0 0 7px 7px;
    padding: 10px 0;
}

.square a:hover em {bottom: 0; background: rgba(0,0,0,0.57);}

.square a:hover img {filter:brightness(85%);}


#lg-download {display:none;}


.list-box-1 {
    width: 100%;
    margin-bottom: 40px;
}

.list-box-1 .cell {
    position: relative;
    top: 0;
    left: 0;
    width: calc(98% / 3);
    margin-right: 1%;
    margin-bottom: 15px;
    cursor: pointer;
}

.list-box-1 .cell:nth-child(3n){margin-right: 0;}

.list-box-1 .cell .url {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatex(-50%)translateY(-50%);
    display: none;
}


/* link 아이콘 */

.list-box-1 .cell:hover .url {
    display: block;
}


.list-box-1 .cell .url a i {
    border-radius: 100%;
    padding: 20px;
    color: white;
    background-color: #ffa31b;
    font-size: 1.5em;
    transform: rotate(-90deg);
}

.list-box-1 .cell .url:hover a i {
    transform: rotate(0deg);
}

.list-box-1 .cell .prod-title {
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 47px;
    padding-left: 5px;
}

.list-box-1 .cell > .img-box {
    overflow: hidden;
    border-radius: 7px;
    position: relative;
}

.list-box-1 .cell > .img-box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}

.list-box-1 .cell:hover > .img-box::after {
    background: rgba(255, 255, 255, 0.5);
}

.list-box-1 .cell > .img-box img {
    transition: all .85s ease;
}

.list-box-1 .cell:hover > .img-box > img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}


/* tab3_study 이펙트 */

.effect_box {margin-bottom: 40px;}
.effect_box .cell {overflow: hidden; border-radius: 7px; width: calc(97% /4); margin-right: 1%; margin-bottom: 40px;}
.effect_box .cell:last-child {margin-right: 0;}
.study {position: relative; width: 300px; perspective: 1000px; display: block;}

.study .front {
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
}

.study:hover .front{
    transform: rotateY(180deg);
}

.study .back {
    position: absolute; top:0; left: 0;
    width: 100%; height: 100%; z-index: -1;
    transform-style: preserve-3d;
    color: #fff;
    background: #ea5220;
    transform: rotateY(-180deg);
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
}

.study:hover .back{
    transform: rotateY(0deg);
    z-index: 1;
}

.study .back span {position: absolute; top: 50%; left: 50%; transform: translateX(-50%)translateY(-50%);
font-size: 1.8em;
}

/* tab4_contact 이펙트 */

.tab_cont_4 .effect_box {margin: 40px 0 70px 0;}
.tab_cont_4 .effect_box .bc {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #999;
    margin-bottom: 20px;
}

@keyframes Arrow_act
{
0%{transform:translateY(3px);}

50%{transform:translateY(-3px);}

100%{transform:translateY(3px);}

}

.tab_cont_4 .effect_box .bc i.down {
    font-size: 1.4em; 
    animation: Arrow_act 1.2s ease-out infinite;
    margin-left: 15px;
    color: #ffa31b;
}

.tab_cont_4 .contact {
    position: relative; left: 50%; transform: translateX(-50%);
    width: 40%; height: 0;
	overflow: hidden;
	padding-bottom: 278px;
    perspective: 1000px; 
    display: block;
}

.tab_cont_4 .contact a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.tab_cont_4 .contact .front {
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 9px;
}

.tab_cont_4 .contact:hover .front{
    transform: rotateX(180deg);
}

.tab_cont_4 .contact .back {
    position: absolute; top: 0; left: 0;
	width: 100%;
	height: 100%;
    z-index: -1;
    transform-style: preserve-3d;
    color: #222;
    transform: rotateX(-180deg);
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
    overflow: hidden;
    background-color: #fafafa;
    border-radius: 9px;
}

.tab_cont_4 .contact .back .back_box {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 5%;
}

.tab_cont_4 .contact:hover .back{
    transform: rotateX(0deg);
    z-index: 1;
}

.tab_cont_4 .contact .back .tit {
    font-size: 1.8em; 
    text-transform: uppercase;
    font-weight: bold;
    color:#ffa31b;
    margin-bottom: 1.2em;
}

.tab_cont_4 .contact .back .tit_2 .name{
    font-size: 1.5em; 
    font-weight: bold;
}

.tab_cont_4 .contact .back p {
    font-size: 1.1em;
    line-height: 2em;
}
.tab_cont_4 .contact .back span {
    font-size: 1em;
}

.tab_cont_4 .contact .back .line {
    width: 40px;
    height: 2px;
    background: #ffa31b;
    margin-top: 5%;
}

.tab_cont_4 .contact .back .tel {
    margin-top: 5%;
}

.tab_cont_4 .contact .back .sit {
    margin-top: 2%;
}




/* ------------------ 5. #footer ---------------------- */

.footer {text-align: center; padding: 30px 50px;}
.footer li {position: relative; display: inline-block; padding: 0 7px 0 10px; white-space: nowrap;}
.footer li:first-child::before {width: 0;;}
.footer li::before {
    content: ''; 
    width: 1px; height: 12px; 
    background: #ddd; 
    position: absolute; left: 0; top:2px;
}

.footer address {padding: 15px;}


/* ------------------  media-query 미디어쿼리 ---------------------- */

/* 화면너비 0 ~ 1220px */
@media (max-width:1220px){
    .container{width: 97%;}
}

/* 화면너비 0 ~ 1024px */
@media (max-width:1024px){

    .info {
        justify-content: center; 
        flex-wrap: wrap;
        padding: 3.5em 0;
    }

    .info_left {width: 50%;}
    .info_right {width: 50%;}
    .info_right_1 {width: 100%;}
    .info_right_1 ul {text-align: center; padding-top: 50px;}

    .tab_menu ul.top {text-align: center;}
    .work_tab_list {text-align: center;}
    .list-box-1 .cell .prod-title {text-align: center;}


    /* tab_cont_2 works */
    .list-box-1 .cell .url {
        display: block;
    }

    .list-box-1 .cell > .img-box::after{
        background: rgba(255, 255, 255, 0.3);
    }

    /* tab_cont_3 study */
    .effect_box .cell {margin-bottom: 20px; width: calc(97% /2);}
    
}

/* 화면너비 0 ~ 960px */
@media (max-width:960px){

    .effect_box .cell {
        width: calc(97% /2);
        margin-bottom: 20px;
    }
}

/* 화면너비 0 ~ 768px */
@media (max-width:768px){

    .list-box-1 .cell {width: calc(98% / 2);}
    .square a {width: calc(98% / 2);}
    
}

/* 화면너비 0 ~ 600px */
@media (max-width:600px){
    .info {flex-wrap: wrap;}
    .info .info_left {width: 100%; margin-bottom: 35px;}
    .info .info_right {width: 50%; margin:0 auto; text-align: center;}
    
    .info_right .category {display: block;}

    .info_right > .info_cont_0 {flex-wrap: wrap;}
    .info_right > .info_cont_0 .age {width: 100%;}
    .info_right > .info_cont_0 .category {width: 100%;}

    .info_right .status {
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        margin-top: 15px;
    }

    .info_right .category {
        padding-left: 0px;
        margin-left: 0px;
    }

    .info_right .status:after {display: none;}
    .info_right .category::before {display: none;}


    
    /* tab_cont_2 works */

    .work_tab_list li {
        float: left;
        width: 24%;
        text-align: center;
        margin-right: 1%;
        
    }

    .work_tab_list li:last-child {
        margin-right: 0%;

    }

    .work_tab_list li a {
        display: block; 
        width: 100%;
        line-height: 2.5em;
        border-radius: 3px; 
        background: #f5f6f8;
        margin: 0 0px;
        color: #212428;
        font-weight: bold;
        transition: all .35s ease;
    }

    /* tab_cont_4 contact */
    .tab_cont_4 .contact {
        width: 80%;
    }

    /* tab_cont_3 study */

    .study:hover .front{transform: rotateY(0deg);}
    .study:hover .back{display: none;}
    .effect_box .cell {width: calc(97% /1);}

}


/* 화면너비 0 ~ 480px */
@media (max-width:480px){
    .info .info_right {width: 100%; }

    .list-box-1 .cell {width: 98%;}
    .square a {width: 98%;}

    /* tab_cont_4 contact */
    .tab_cont_4 .contact {
    width: 100%;
    height: 0px;
}

    
}

/* 화면너비 0 ~ 320px */
@media (max-width:320px){

    .info_right .status {font-size: 16px;}
    .info_right .category {font-size: 12px;}

    
}

